/*  your css code here. If applicable */
.container{
	height:100vh;
	background:gray;
	width:70vh;
}
.card{
	padding:35px;
 }
h1{
	font-size:40px;
	padding:0px;
	text-align:center;
}
.sat{
	margin:-20px;
	padding:0px;
	font-size:20px;
	text-align:center;
}
.har{
	text-align:center;
	color:white;
	background-color: red;
	border-radius:6px;
	border-color:red;
	padding:10px;
	margin-left:85px;
	margin-top:30px
}
}